.showcase-catalog{
    width: 100%;
    height: 200px;
    padding-top:100px;
    display: flexbox;
    align-content: left;
    justify-content: left;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right:10%;
}
.showcase-catalog h3{
    font-size: 25px;
    color: #F096C1;
    margin: 0;
    padding: 0;
}
.showcase-catalog p{
    font-size: 25px;
    justify-content: left;
    margin: 0;
    padding: 0;
}
.showcase-catalog span{
    text-decoration: none;
    box-shadow: inset 0 -.5em 0 rgba(142, 219, 155, 0.75);
    color: inherit;
}

