.showcase-mothers-day{
    width:100%;
    height: 300px;
    background:url('../images/mother-day.jpeg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    margin-bottom: 40px;
}
.showcase-mothers-day img{
    width: auto;
    height: 100px;
}
.eslogan-mothers-day p{
    font-size: 25px;
    padding-bottom: 50px;
    padding-left: 15%;
    padding-right:15%;
}
.eslogan-mothers-day span{
    text-decoration: none;
    box-shadow: inset 0 -.5em 0 rgba(142, 219, 155, 0.75);
    color: inherit;
}
.cards-mothers-day{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  
    row-gap: 50px; 
    justify-content: space-around/left; 
    padding-left: 15%;
    padding-right: 15%;
}
.cards-mothers-day img{
    width:auto;
    height: 250px;
}
.cards-mothers-day p{
    width:15em;
    font-size: 20px;
}
.cards-mothers-day p.txt-money-mothers-day{
    font-size: 25px;
}
