* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: floralwhite;
    color: black;
    font-family: 'Quicksand', sans-serif;
    background-color: #ffffff;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
}
ul {
    list-style: none;
}

#cuidate {
    width: 100%;
    margin: auto;
    text-align: center;
    background: #f0b6d2;
    color: #ffffff;
}
/*NAVIGATION*/
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 20px;
    line-height: 3;
}
.nav-brand {
    width: 50px;
}
/*Nav Left*/
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 6px;
}

.nav-main ul li a:hover {
    border-bottom: 3px solid #293057;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 150px;
}

.nav-menu-right a {
    color: rgb(53, 53, 99);
    text-decoration: none;
    font-size: 16px;
}
/*FOOTER*/
.footer-links{
    margin-top: 50px;
    background-color: #e0fbfb;
    
    color: rgb(53, 53, 99);
    font-size: 14px;
    
    
}
.footer-container ul li a,
.footer-container{
    width: 100%;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: center;
    margin-top:20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='44' viewBox='0 0 34 44'%3E%3Cg fill='%2399eae7' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M1 6.2C.72 5.55.38 4.94 0 4.36v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 22 12.04 12.04 0 0 0 1 28.2c-.28-.65-.62-1.26-1-1.84v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 44h21.6a12.05 12.05 0 0 0 5.2-4.36V26.36A12.05 12.05 0 0 0 28.8 22a12.05 12.05 0 0 0 5.2-4.36V4.36A12.05 12.05 0 0 0 28.8 0H7.2A12.04 12.04 0 0 0 1 6.2zM17.36 23H12a10 10 0 1 0 0 20h5.36a11.99 11.99 0 0 1 0-20zm1.28-2H24a10 10 0 1 0 0-20h-5.36a11.99 11.99 0 0 1 0 20zM12 1a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 14a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2zM12 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 43a10 10 0 1 0 0-20 10 10 0 0 0 0 20zm0-14a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 37a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2z'/%3E%3C/g%3E%3C/svg%3E");
}
.footer-container{
    padding:30px 0 20px 0;
}
.footer-container ul li h3{
    margin: 0;
    padding:5px;
    text-align: center;
}
/*product page only*/
.product{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 60px;
    margin-top: 2em;
    padding-left: 25%;
    padding-right: 20%;
}
.info-product{
     font-size: 3em;
     float: right;
}
.info-product-name{
    padding-bottom: 1em;
    font-size: 40px;
}
.info-product-price{
    font-size: 0.6em;
    color: crimson;
    font-weight: 700;
}
.info-product-category{
    padding-top: 0.4em;
    font-size: 0.3em;
}
span{
    font-weight: bold;
}
.button-color {
    background: #f0b6d2;
    color: rgb(27, 25, 27);
    text-align: center;
    font-size: medium;
    border-radius: 5px;
    padding:.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 12em;
    align-self: flex-end;
    border-style: none;
}
.button-color:hover {
    background: #60ecab;
    color: rgb(255, 255, 255);
    border-style: none;
}
.product-description{
    justify-content: left;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1.1em;
    padding-top:5em;
}
.product-description h4{
    padding-bottom: 1em;
}
.info-product-description ul li{
    margin: 15px;
}
@media screen and (min-width:800px) and (max-width:1024px){
    .nav-menu-right a {
        color: rgb(53, 53, 99);
        text-decoration: none;
        font-size: 25px;
    }
    .product{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        padding-top: 2em;
    }
    .product-description{
        justify-content: center;
        margin-left: 25%;
        margin-right: 25%;
        padding-top:2em;
    }
   .info-product-name{
       padding-bottom: 1em;
       font-size: 50px;
   }
   .info-product-price{
       font-size: 1.2em;
       color: crimson;
       font-weight: 700;
   }
   .info-product-category{
       padding-top: 0.4em;
       font-size: 0.7em;
   }
    .button-color {
        width: 90%;
        background: #f0b6d2;
        color: rgb(27, 25, 27);
        text-align: center;
        font-size:25px;
        border-radius: 5px;
        padding:1em;
        padding-left: 2em;
        padding-right: 2em;
        margin-top: 4em;
        border-style: none;
    }

    

}

